<div class="jumbotron">   
  <div class="container">
  </div>
</div>

<div class="container" id="presentation">
  <div class="row">
  
    <div class="col-md-4">
        <h1>Listing blogs</h1>
    </div>

    <div class="col-md-4">
        <h1>Listing blogs</h1>
    </div>

    <div class="col-md-4">
        <h1>Listing blogs</h1>
    </div>

  </div>
</div>
