<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5" id="pictures">
      <%= render "picture" %>
  </div>
</div>

<div style="display: none">
  <%= will_paginate @pictures %>
</div>
